In [27]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.tree import export_graphviz
import graphviz
import pandas as pd
import numpy as np

In [6]:
iris = datasets.load_iris()
iris_data = iris.data
iris_target = iris.target

In [47]:
iris_data.shape

In [41]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [13]:
iris_target.shape

(150,)

In [19]:
type(iris_data)

numpy.ndarray

In [26]:
type(iris_target)
print(type(iris_data))

<class 'numpy.ndarray'>

**Step 1:** Let's now convert the numpy array into dataframes

In [ ]:
# Convert data into pandas dataframes (Method 1)
df = pd.DataFrame(iris_data, columns=[iris.feature_names[0], iris.feature_names[1], iris.feature_names[2], iris.feature_names[3]])
df

In [66]:
# Using a for loop for creation of dataframes (Method 2)
column_names = iris.feature_names
df1 = pd.DataFrame()
for i, column_name in enumerate(column_names):
    df1[column_name] = iris_data[:, i]
df1

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]